/* ii-zen by ii-plugin */
.color-contain .color-item {
	width: 30px;
	height: 30px;
	float: left;
	margin-top: 10px;
	margin-left: 25px;
	margin-bottom: 25px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
}

.color-contain .color-item:hover {
	opacity: 0.5;
}

.color-contain .color-bottom {
	float: right;
	margin-right: 28px;
	margin-top: 10px;
}

.color-contain .color-more {
	background: none;
	padding-left: 0;
}

.color-contain .color-wrap {
	width: 28px;
	height: 28px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.color-contain .color-more-text {
	margin-left: 12px;
	font-size: 24px;
}

.color-contain .color-ok-btn {
	float: right;
	margin-left: 15px;
	width: 40px;
}

/* 设置-颜色代码输入框高度 */
.setting-color-codes textarea {
	height: 150px;
}


.dlg-split{
    margin-top:15px;
}

.dlg-cancel-btn {
    margin-left:20px;background: none !important;;
}

.dlg-label{
    margin-bottom: 8px;
    margin-top: 15px;
}

.setting-date-format input, .setting-time-format input{
    width: 200px;
}

.setting-style-codes textarea, .setting-custom-code textarea, .setting-code-snippets textarea {
	width: 500px;
	height: 300px;
}
.settings-search-url input{
	width: 300px;
}
.settings-checkbox-list{
	padding-top: 10px;
	width: 500px;
}
.settings-checkbox-list label{
    margin-bottom: 15px;
    margin-right: 15px;
    display: inline-block;
    width: 148px;
	text-align: left;
}
.settings-checkbox-list input[type=checkbox]{
	position: relative;
	top: 2px;
	margin-right: 4px;
	float: left;
}

.settings-custom-code-desc{
	line-height: 180%;
}

.settings-status-drag {
	position: relative;
}
.settings-status-drag label{
	position: absolute;
	top: 20px;
	right: 68px;
}
.settings-status-drag label > input {
	position: relative;
    top: 2px;
    float: left;
}

.ob-settings-minimize-btn {
    cursor: var(--cursor);
    position: absolute;
    top: var(--size-2-3);
    right: var(--size-4-8);
    font-size: 24px;
    line-height: 20px;
    height: 24px;
    width: 24px;
    padding: 0 var(--size-2-2);
    border-radius: var(--radius-s);
    color: var(--text-muted);
	text-align: center;
}
.ob-settings-minimize-btn:before {
	font-family: Inter, sans-serif;
	content: '\2D';
	font-weight: 300;
}
.ob-settings-minimize-btn:hover {
    background: var(--background-modifier-hover);
}

.ob-settings-minimize-tips{
	position: absolute;
    top: var(--size-2-3);
    right: var(--size-4-16);
	font-size: 14px;
    line-height: 20px;
    height: 24px;
	padding: 0 var(--size-2-2);
	color: var(--interactive-accent);
	background-color: var(--background-primary);
	display: none;
}

.ob-settings-minimize-btn:hover ~ .ob-settings-minimize-tips {
    display: block;
}

.mod-settings.ii-ob-settings-hide {
	position: relative; /* 或 absolute/fixed */
    animation-name: hideToLeftBottom;
    animation-duration: 0.6s; /* 动画时长 */
    animation-fill-mode: forwards; /* 动画结束后保持最后一个关键帧样式 */
}

@keyframes hideToLeftBottom {
	0% {
	  opacity: 1;
	  transform: translate(0, 0);
	}
	100% {
	  opacity: 0;
	  transform: translate(-100%, 100%);
	}
}

/* 禅模式样式 */
:is(.workspace-split.mod-root .workspace-tabs.mod-active .workspace-leaf.mod-active.ii-zen)
/* 顶部工具栏 */
.view-header
{
	display: none!important;
}
/* 滚动条样式 */
.workspace-leaf.mod-active.ii-zen-light .cm-scroller::-webkit-scrollbar,
.workspace-leaf.mod-active.ii-zen .cm-scroller::-webkit-scrollbar{
	display: none!important;
}
/* 编辑器区边距 */
.workspace-leaf.mod-active.ii-zen-light .cm-scroller,
.workspace-leaf.mod-active.ii-zen .cm-scroller{
	padding: 5px!important;
}

:is(
	.workspace-ribbon.mod-left,
	.workspace-split.mod-left-split,
	.workspace-split.mod-right-split,
	.status-bar
):is(.ii-zen-light, .ii-zen-slight),
.workspace-tabs.mod-active.ii-zen-light .workspace-tab-header-container,
.workspace-split.mod-root .workspace-tabs.ii-zen-light-un-active,
.workspace-split.mod-root .workspace-split.mod-vertical.ii-zen-light-un-active,
.workspace-split.mod-root .workspace-split.mod-horizontal.ii-zen-light-un-active,
.workspace-leaf.mod-active.ii-zen-light .view-header,
body.ii-zen-light .workspace-split > hr.workspace-leaf-resize-handle,
body.ii-zen-light .workspace-tabs > hr.workspace-leaf-resize-handle
{
    display: none!important;
}
/* 兼容某些主题rootSplit去掉右边距 */
.workspace-split.mod-root.ii-zen-slight,
.workspace-split.mod-root.ii-zen-light {
    padding-bottom: 0!important;
}
/* 兼容某些主题workspace去掉右边距 */
.workspace.ii-zen-slight,
.workspace.ii-zen-light{
	margin-right: 0!important;
}
/* 微禅模式修改顶部第一个标签头部的边距 */
.workspace-split.mod-root.ii-zen-slight .workspace-tabs.mod-top:nth-child(2) > .workspace-tab-header-container,
.workspace-split.mod-root.ii-zen-slight .workspace-split.mod-horizontal:nth-child(2) .workspace-tabs.mod-top:nth-child(2) > .workspace-tab-header-container{
	padding-left: 65px;
}

